{% extends "page_layout.html" %}

{% block content %}

<h1>D3 General update pattern</h1>
<p>This week we're going to look at the D3 General update pattern. But, before we do, it's important to understand that
    - until now - we've been using the D3 data join.</p>
<h2>The data join</h2>
<blockquote>
    Thinking with joins means
    <mark>declaring a relationship between a selection (such as "circle") and data</mark>
    , and then implementing this relationship through the three
    <mark>enter, update and exit states</mark>
    .
    <cite><a href="https://bost.ocks.org/mike/join/">Thiking with joins, by Mike Bostock</a></cite>
</blockquote>

<p>Last week we looked at selection and binding fundamentals, including introducing the Update, Enter, Exit pattern.
    This is <q>Thinking in joins</q></p>
<p>As this example shows, the Update, Enter, Exit pattern allows us to</p>
<ul>
    <li><strong>Update</strong> any existing DOM nodes in our selection</li>
    <li>Create any new nodes to represent additional data items (using <strong>Enter)</strong></li>
    <li>Remove any nodes that no longer have a corresponding data item (using <strong>Exit)</strong></li>
</ul>
<div id="update-enter-exit"></div>
<h3>Clariying the data join with events</h3>
<p>On reflection, I wonder if the last example from last week - which used <code>setInterval()</code> and
    programmatically generated data sets might have introduced a bit of complexity that might have made things a little
    more difficult than they needed to be.</p>
<p>This example introduces events to, hopefully, clarify things a bit.</p>
<pre>
    <code>
    // Here's our data
    const foods = {
        grains: ["wheat", "rice", "oats", "cornmeal", "barley"],
        pulses: ["chickpeas", "garden peas", "runner beans"]
    };

    function click() {
        // Use the data-name attribute to identify which object key to use
        let current_data = foods[this.dataset.name];
        set_visualisation_data(current_data);
    }

    // Setting up our click handlers
    d3.selectAll("button").on("click", click);

    function set_visualisation_data(data) {
        // Update existing nodes where there is a corresponding data point
        const selection = d3
            .select("#foods")
            .selectAll("li")
            .data(data)
            .text(d => `${d} from update`);

        // Enter to handle data with no associated nodes (i.e. create node)
        selection
            .enter()
            .append("li")
            .text(d => `${d} from enter`);

        // Exit to handle nodes with no associated data (i.e. remove node)
        selection.exit().remove();
    }
    </code>
</pre>
<details>
    <summary>See this code in action</summary>
    <p class="codepen" data-height="765" data-theme-id="dark" data-default-tab="js,result" data-user="gtvj"
       data-slug-hash="wvaxRyd"
       style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
       data-pen-title="Update, Enter, Exit - with events">
  <span>See the Pen <a href="https://codepen.io/gtvj/pen/wvaxRyd">
  Update, Enter, Exit - with events</a> by Gwyn Jones (<a href="https://codepen.io/gtvj">@gtvj</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</details>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/static/scripts/dist/update_enter_exit.js"></script>
{% endblock %}

