{% extends "page_layout.html" %}

{% block content %}

<script src="https://d3js.org/d3.v5.min.js"></script>

<h1>Using d3.scaleTime() to draw a Gantt chart</h1>
<p>Our data for this exercise is an array of objects, each of which represents a time period. Each time period is
    consecutive.</p>
<pre>
    <code class="javascript">
    let dataset = [
        {
            name: "Postwar",
            start_date: "1945",
            end_date: "2020"
        },
        {
            name: "Second world war",
            start_date: "1939",
            end_date: "1945"
        },
        {
            name: "Interwar",
            start_date: "1918",
            end_date: "1939"
        },
        {
            name: "Early 20th Century",
            start_date: "1901",
            end_date: "1918"
        },
        {
            name: "Early modern",
            start_date: "1485",
            end_date: "1750"
        },
        {
            name: "Victorians",
            start_date: "1850",
            end_date: "1901"
        },
        {
            name: "Empire and Industry",
            start_date: "1750",
            end_date: "1850"
        },
        {
            name: "Medieval",
            start_date: "974",
            end_date: "1485"
        }
    ];
    </code>
</pre>
<h3>Part 1: Just drawing the bars</h3>
<p>Let's draw some <code>rect</code> elements which correspond to our data.</p>
<div id="part-one"></div>
<script>

    let w = 700,
        h = 200;

    let dataset = [
        {
            name: "Postwar",
            start_date: "1945",
            end_date: "2020"
        },
        {
            name: "Second world war",
            start_date: "1939",
            end_date: "1945"
        },
        {
            name: "Interwar",
            start_date: "1918",
            end_date: "1939"
        },
        {
            name: "Early 20th Century",
            start_date: "1901",
            end_date: "1918"
        },
        {
            name: "Early modern",
            start_date: "1485",
            end_date: "1750"
        },
        {
            name: "Victorians",
            start_date: "1850",
            end_date: "1901"
        },
        {
            name: "Empire and Industry",
            start_date: "1750",
            end_date: "1850"
        },
        {
            name: "Medieval",
            start_date: "974",
            end_date: "1485"
        }
    ];

    // Sorting our data so that the earliest periods appear first
    dataset = dataset.sort(function (a, b) {
        if (+a.start_date < +b.start_date) {
            return -1;
        }
        if (+a.start_date > +b.start_date) {
            return 1;
        }
        return 0;
    });

    dataset = dataset.map(function (item) {
        return {
            name: item.name,
            start_date: d3.timeParse("%Y")(item.start_date),
            end_date: d3.timeParse("%Y")(item.end_date)
        }
    });

    xScale = d3.scaleTime()
        .domain([
            d3.min(dataset, function (d) {
                return d.start_date;
            }),
            d3.max(dataset, function (d) {
                return d.start_date;
            })
        ])
        .range([0, w * 0.75]);

    let svg = d3.select('#part-one').append('svg').attr('width', w).attr('height', h);

    svg.selectAll("rect")
        .data(dataset)
        .enter()
        .append("rect")
        .attr("y", (d, i) => i * (h / dataset.length))
        .attr("x", d => xScale(d.start_date))
        .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
        .attr("fill", "#80FFCB")
        .attr("height", (h / dataset.length));

    svg.selectAll("text")
        .data(dataset)
        .enter()
        .append("text")
        .text(d => d.name)
        .attr("y", (d, i) => (i + 0.7) * (h / dataset.length))
        .attr("x", d => xScale(d.start_date) + 4)
</script>

<h3>...</h3>
<div id="example-one"></div>

<script>
    {

        let svg = d3.select('#example-one').append('svg').attr('width', w).attr('height', h);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (h / dataset.length))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (h / dataset.length));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (h / dataset.length))
            .attr("x", d => xScale(d.start_date) + 4)
    }
</script>

{% endblock %}