{% extends "page_layout.html" %}

{% block content %}
<style>
    meter {
        width: 100%;
    }
</style>
<script src="https://d3js.org/d3.v5.min.js"></script>
<h1>D3 scales and time</h1>
<h2>Before we start - a quick review of D3 scales in general</h2>
<p>Remember what D3 scales are:</p>
<blockquote>Scales are functions that map from an input domain to an output range. <cite><a href="https://github.com/d3/d3/wiki/Quantitative-Scales/fdf9b19f74182960dbd204dc81779d78ffdbd18d">Mike Bostock</a></cite></blockquote>
<p>Typically, we use scales to ensure that values from an input domain (about which there is uncertainty) can be drawn within the constraints of an output range (i.e. the dimensions of our SVG).</p>
<p>But, because, scales simply represent relationships we can use them to represent any relationship. Here's an example:</p>
<h3>Creating a Celsius to Fahrenheit converter</h3>
<div class="scales_example">
    <label for="input_domain">This input has min and max attributes that correspond to an <strong>input domain</strong> of -50 to 1000</label>
    <input type="range" id="input_domain">
    <p>This meter has min and max attributes that correspond to the <strong>output range</strong> of -58 to 1832</p>
    <meter id="output_range"></meter>
    <p><strong id="input_value"></strong>℃ is equivalent to <strong id="output_value"></strong>℉</p>
</div>
<div class="callout primary">
<h4>What's interesting here is that all we've told the scale is:</h4>
<ul>
    <li>-50 in the input domain is equivalent to -58 in the output range</li>
    <li>1000 in the input domain is equivalent to 1832 in the output range</li>
</ul>
</div>
<script>
    {

        let domain = [-50, 1000];
        range = [-58, 1832];

        let scale = d3.scaleLinear();
        scale.domain(domain);
        scale.range(range);

        let input_domain = document.getElementById('input_domain');
        input_domain.setAttribute('min', domain[0]);
        input_domain.setAttribute('max', domain[1]);
        input_domain.setAttribute('value', domain[0]);

        let output_range = document.getElementById('output_range');
        output_range.setAttribute('min', range[0]);
        output_range.setAttribute('max', range[1]);


        input_domain.addEventListener('change', function (e) {
            let scaled = scale(e.target.value);
            output_range.setAttribute('value', scaled);
            document.getElementById('input_value').textContent = e.target.value;
            document.getElementById('output_value').textContent = scaled;
        });

    }
</script>

<h2>A look at d3.scaleTime()</h2>
<p><code>d3.scaleTime()</code> works a lot like <code>d3.scaleLinear()</code> in that it allows you to map values <em>from</em>
    an <strong>input domain</strong> <em>to</em> an <strong>output range</strong>. The difference is that you use
    JavaScript Date objects for the input range (and the output range, if you want to).</p>
<h3>An example: Date for input; Integer range for output.</h3>
<p>This example uses <code>Date</code> objects for the input domain, and maps these to an output range represented by
    integers.</p>
<pre>
    <code class="javascript">

    const moon_landing = new Date(1969, 7, 20),
        start_of_20th_century = new Date(1900, 1, 1),
        end_of_20th_century = new Date(1999, 12, 31);

    const scaleXCentury = d3.scaleTime()
        .domain([start_of_20th_century, end_of_20th_century]) // Bounds for input domain
        .range([0, 100]); // Bounds for output range

    const position_of_moonlanding = scaleXCentury(moon_landing); // 69.55057999981746

    console.log(`The position of the moon landing is ${position_of_moonlanding}`);

    const batte_of_hastings = new Date(1066, 10, 14),
        start_of_millenium = new Date(1000, 1, 1),
        end_of_millenium = new Date(1999, 12, 31);

    const scaleXMillenium = d3.scaleTime()
        .domain([start_of_millenium, end_of_millenium])
        .range([0, 1000]); // Note: our range has changed

    const position_of_boh = scaleXMillenium(batte_of_hastings);

    console.log(`The position of boh is ${position_of_boh}`); // 66.78330198416936

    </code>
</pre>
<h2>Performing calculations</h2>
<p>What about if you need to represent the duration of a thing? As it turns out, you can perform this kind of
    calculation quite easily.</p>
<pre>
    <code class="javascript">
    // Note: this code uses scaleXMillenium() which was instantiated above
    const space_between_boh_and_moon_landing = scaleXMillenium(moon_landing) - scaleXMillenium(batte_of_hastings);
    console.log(`The space between our events is ${space_between_boh_and_moon_landing}`); // 902.7681950638984

    // Note: this is only 902.x because our output range is 1000. If our output range was the number of pixels
    //       available instead, the values would be different but - crucuially - the representation of their
    //       relationship to each other would remain the same

    // Which we can confirm with
    const time_difference = Math.abs(moon_landing - batte_of_hastings);
    const difference_in_years = time_difference / (1000 * 60 * 60 * 24 * 365.2422);
    console.log(`The difference in years between our events is ${difference_in_years}`); // 902.7459502623774 (Close enough)
    </code>
</pre>
<script>

    const moon_landing = new Date(1969, 7, 20),
        start_of_20th_century = new Date(1900, 1, 1),
        end_of_20th_century = new Date(1999, 12, 31);

    const scaleXCentury = d3.scaleTime()
        .domain([start_of_20th_century, end_of_20th_century]) // Bounds for input domain
        .range([0, 100]); // Bounds for output range

    const position_of_moonlanding = scaleXCentury(moon_landing); // 69.55057999981746

    console.log(`The position of the moon landing is ${position_of_moonlanding}`);

    const batte_of_hastings = new Date(1066, 10, 14),
        start_of_millenium = new Date(1000, 1, 1),
        end_of_millenium = new Date(1999, 12, 31);

    const scaleXMillenium = d3.scaleTime()
        .domain([start_of_millenium, end_of_millenium])
        .range([0, 1000]); // Note: our range has changed

    const position_of_boh = scaleXMillenium(batte_of_hastings);

    console.log(`The position of boh is ${position_of_boh}`); // 66.78330198416936

</script>
<h2>Experiment with d3.scaleTime()</h2>
<label for="meter">This meter represents our output range</label>
<meter id="meter"></meter>
<label for="pick_date">Use this to select a date to represented on the output range</label>
<input type="date" min="2020-01-01" max="2021-01-01" id="pick_date">

<script>
    const range_min = 0,
        range_max = 1000;

    const scaleXperiment = d3.scaleTime()
        .domain([new Date(2020, 0, 1), new Date(2021, 0, 1)]) // Bounds for input domain
        .range([range_min, range_max]); // Bounds for output range

    function init() {
        let meter = document.getElementById('meter');
        meter.setAttribute('min', range_min);
        meter.setAttribute('max', range_max);
    }

    document.getElementById('pick_date').addEventListener('change', function (e) {
        console.log(`Date is: ${new Date(e.target.value)}`);
        let position = scaleXperiment(new Date(e.target.value));
        meter.setAttribute('value', position);
        console.log(`Position is: ${position}`)
    });

    init();
</script>
{% endblock %}
