{% extends "page_layout.html" %}

{% block content %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<h1>D3 axes</h1>
<p>Like the scales we've looked at <strong>D3 axes are functions</strong>. The difference is that:</p>
<ul>
    <li>Scales return a value</li>
    <li>Axes generate SVG elements</li>
</ul>
<p>The SVG elements that are generated include what you'd expect (i.e. labels, lines etc.)</p>
<h2>The four axis constructors</h2>
<p>D3 provides <strong>several axis constructors</strong> corresponding to different orientations. No prizes for
    guessing what they do:</p>
<ul>
    <li><code>d3.axisTop</code></li>
    <li><code>d3.axisBottom</code></li>
    <li><code>d3.axisLeft</code></li>
    <li><code>d3.axisRight</code></li>
</ul>
<h2>Adding an axis to our Gantt chart</h2>
<p>In <a href="/pages/d3-scales-a-gantt-chart">week 6</a> we created this Gantt chart. We'll now add an axis to it.</p>
<div id="example-one"></div>
<script>
    {
        let w = 700,
            h = 200;

        let dataset = [
            {
                name: "Postwar",
                start_date: "1945",
                end_date: "2020"
            },
            {
                name: "Second world war",
                start_date: "1939",
                end_date: "1945"
            },
            {
                name: "Interwar",
                start_date: "1918",
                end_date: "1939"
            },
            {
                name: "Early 20th Century",
                start_date: "1901",
                end_date: "1918"
            },
            {
                name: "Early modern",
                start_date: "1485",
                end_date: "1750"
            },
            {
                name: "Victorians",
                start_date: "1850",
                end_date: "1901"
            },
            {
                name: "Empire and Industry",
                start_date: "1750",
                end_date: "1850"
            },
            {
                name: "Medieval",
                start_date: "974",
                end_date: "1485"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-one').append('svg').attr('width', w).attr('height', h);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (h / dataset.length))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (h / dataset.length));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (h / dataset.length))
            .attr("x", d => xScale(d.start_date) + 4)
    }
</script>
<h3>New code</h3>
<p>This is the code we add to the end of our visualisation. <strong>Note:</strong> we pass the same scale that was used
    to generate the Gantt chart to our axis</p>
<pre>
    <code>
    let xAxis = d3.axisBottom();    // Creates an axis
    xAxis.scale(xScale);            // Sets the axis scale (using our same scale)
    svg.append("g")                 // The &lt;g&gt; is useful for two reasons
        .call(xAxis);               // Appends the scale to our SVG
    </code>
</pre>
<p>The introduction of a <code>&lt;g&gt;</code> is useful because it:</p>
<ul>
    <li>allows us to have all the multiple elements that comprise an axis grouped together</li>
    <li>allows us to perform a transform on them all at once</li>
</ul>
<h3>Result</h3>
<div id="example-two"></div>
<script>
    {
        let w = 700,
            h = 200;

        let dataset = [
            {
                name: "Postwar",
                start_date: "1945",
                end_date: "2020"
            },
            {
                name: "Second world war",
                start_date: "1939",
                end_date: "1945"
            },
            {
                name: "Interwar",
                start_date: "1918",
                end_date: "1939"
            },
            {
                name: "Early 20th Century",
                start_date: "1901",
                end_date: "1918"
            },
            {
                name: "Early modern",
                start_date: "1485",
                end_date: "1750"
            },
            {
                name: "Victorians",
                start_date: "1850",
                end_date: "1901"
            },
            {
                name: "Empire and Industry",
                start_date: "1750",
                end_date: "1850"
            },
            {
                name: "Medieval",
                start_date: "974",
                end_date: "1485"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-two').append('svg').attr('width', w).attr('height', h);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (h / dataset.length))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (h / dataset.length));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (h / dataset.length))
            .attr("x", d => xScale(d.start_date) + 4);

        let xAxis = d3.axisBottom(); // Create a new axis
        xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
        svg.append("g")
            .call(xAxis);
    }
</script>
<p>OK. So now we have an axis and, because we appended it to the end of the SVG (i.e. the elements that make up the
    Gantt chart already existed when we called <code>append()</code>) it's visible above the existing elements.</p>
<p>We need to move it, but let's sort some of our spacing issues first.</p>
<h2>Let's make some space</h2>
<p>This isn't specific to axes, but there's a problem with our existing visualisations in that they occupy the full
    space available. This is because the "height" and "y" attributes are calculated with <code>h / dataset.length</code>
</p>
<p>Rather than doing this calculation multiple times in the code, let's create a variable that we can more easily
    manipulate</p>
<pre>
    <code>
    // Subtract 20 from the height before division
    let padding = 20;
    let bar_height = ((h - padding) / dataset.length);
    </code>
</pre>
<p>Having done this, each bar is shorter and we have some room at the bottom of ths visualisation.</p>
<div id="example-three"></div>
<script>
    {
        let w = 700,
            h = 200;

        let dataset = [
            {
                name: "Postwar",
                start_date: "1945",
                end_date: "2020"
            },
            {
                name: "Second world war",
                start_date: "1939",
                end_date: "1945"
            },
            {
                name: "Interwar",
                start_date: "1918",
                end_date: "1939"
            },
            {
                name: "Early 20th Century",
                start_date: "1901",
                end_date: "1918"
            },
            {
                name: "Early modern",
                start_date: "1485",
                end_date: "1750"
            },
            {
                name: "Victorians",
                start_date: "1850",
                end_date: "1901"
            },
            {
                name: "Empire and Industry",
                start_date: "1750",
                end_date: "1850"
            },
            {
                name: "Medieval",
                start_date: "974",
                end_date: "1485"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-three').append('svg').attr('width', w).attr('height', h);

        let padding = 20;
        let bar_height = ((h - padding) / dataset.length);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (bar_height))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (bar_height));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (bar_height))
            .attr("x", d => xScale(d.start_date) + 4);

        let xAxis = d3.axisBottom(); // Create a new axis
        xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
        svg.append("g")
            .call(xAxis);
    }
</script>
<h2>Let's move the axis</h2>
<p>At this point, moving the axis is trivial</p>
<pre>
    <code>
    let xAxis = d3.axisBottom(); // Create a new axis
    xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
    svg.append("g")
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);
    </code>
</pre>
<div id="example-four"></div>
<script>
    {
        let w = 700,
            h = 200;

        let dataset = [
            {
                name: "Postwar",
                start_date: "1945",
                end_date: "2020"
            },
            {
                name: "Second world war",
                start_date: "1939",
                end_date: "1945"
            },
            {
                name: "Interwar",
                start_date: "1918",
                end_date: "1939"
            },
            {
                name: "Early 20th Century",
                start_date: "1901",
                end_date: "1918"
            },
            {
                name: "Early modern",
                start_date: "1485",
                end_date: "1750"
            },
            {
                name: "Victorians",
                start_date: "1850",
                end_date: "1901"
            },
            {
                name: "Empire and Industry",
                start_date: "1750",
                end_date: "1850"
            },
            {
                name: "Medieval",
                start_date: "974",
                end_date: "1485"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-four').append('svg').attr('width', w).attr('height', h);

        let padding = 20;

        let bar_height = ((h - padding) / dataset.length);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (bar_height))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (bar_height));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (bar_height))
            .attr("x", d => xScale(d.start_date) + 4);

        let xAxis = d3.axisBottom(); // Create a new axis
        xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
        svg.append("g")
            .attr("transform", "translate(0," + (h - padding) + ")")
            .call(xAxis);
    }
</script>
<h2>Additional benefits of variables</h2>
<p>There are other very real benefits from this use of variables to calculate dimensions and translations, as
    demonstrated in the examples below</p>
<h3>Same code, tall SVG</h3>
<p>OK, so we could maybe make our text element positioning dynamic too</p>
<div id="example-five"></div>
<script>
    {
        let w = 700,
            h = 600;

        let dataset = [
            {
                name: "Postwar",
                start_date: "1945",
                end_date: "2020"
            },
            {
                name: "Second world war",
                start_date: "1939",
                end_date: "1945"
            },
            {
                name: "Interwar",
                start_date: "1918",
                end_date: "1939"
            },
            {
                name: "Early 20th Century",
                start_date: "1901",
                end_date: "1918"
            },
            {
                name: "Early modern",
                start_date: "1485",
                end_date: "1750"
            },
            {
                name: "Victorians",
                start_date: "1850",
                end_date: "1901"
            },
            {
                name: "Empire and Industry",
                start_date: "1750",
                end_date: "1850"
            },
            {
                name: "Medieval",
                start_date: "974",
                end_date: "1485"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-five').append('svg').attr('width', w).attr('height', h);

        let padding = 20;

        let bar_height = ((h - padding) / dataset.length);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (bar_height))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (bar_height));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (bar_height))
            .attr("x", d => xScale(d.start_date) + 4);

        let xAxis = d3.axisBottom(); // Create a new axis
        xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
        svg.append("g")
            .attr("transform", "translate(0," + (h - padding) + ")")
            .call(xAxis);
    }
</script>
<h3>Same code, loads of data points</h3>
<div id="example-six"></div>
<script>
    {
        let w = 700,
            h = 300;

        let dataset = [
            {
                name: "Just fun",
                start_date: "2251",
                end_date: "2700"
            },
            {
                name: "Prohibition of singing and fun",
                start_date: "2240",
                end_date: "2251"
            },
            {
                name: "Singing and fun",
                start_date: "2100",
                end_date: "2250"
            },
            {
                name: "Everything sorted",
                start_date: "2037",
                end_date: "2100"
            },
            {
                name: "Climate solution initiative",
                start_date: "2035",
                end_date: "2037"
            },
            {
                name: "Climate collapse",
                start_date: "2030",
                end_date: "2035"
            },
            {
                name: "Postwar",
                start_date: "1945",
                end_date: "2020"
            },
            {
                name: "Second world war",
                start_date: "1939",
                end_date: "1945"
            },
            {
                name: "Interwar",
                start_date: "1918",
                end_date: "1939"
            },
            {
                name: "Early 20th Century",
                start_date: "1901",
                end_date: "1918"
            },
            {
                name: "Early modern",
                start_date: "1485",
                end_date: "1750"
            },
            {
                name: "Victorians",
                start_date: "1850",
                end_date: "1901"
            },
            {
                name: "Empire and Industry",
                start_date: "1750",
                end_date: "1850"
            },
            {
                name: "Medieval",
                start_date: "974",
                end_date: "1485"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-six').append('svg').attr('width', w).attr('height', h);

        let padding = 20;

        let bar_height = ((h - padding) / dataset.length);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (bar_height))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (bar_height));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (bar_height))
            .attr("x", d => xScale(d.start_date) + 4);

        let xAxis = d3.axisBottom(); // Create a new axis
        xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
        svg.append("g")
            .attr("transform", "translate(0," + (h - padding) + ")")
            .call(xAxis);
    }
</script>
<h3>Same code, few data points</h3>
<div id="example-seven"></div>
<script>
    {
        let w = 700,
            h = 300;

        let dataset = [
            {
                name: "Singing and fun",
                start_date: "2100",
                end_date: "2250"
            },
            {
                name: "Everything sorted",
                start_date: "2037",
                end_date: "2100"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-seven').append('svg').attr('width', w).attr('height', h);

        let padding = 20;

        let bar_height = ((h - padding) / dataset.length);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (bar_height))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (bar_height));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (bar_height))
            .attr("x", d => xScale(d.start_date) + 4);

        let xAxis = d3.axisBottom(); // Create a new axis
        xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
        svg.append("g")
            .attr("transform", "translate(0," + (h - padding) + ")")
            .call(xAxis);
    }
</script>
<h2>Customising the tick marks</h2>
<p>When generating an axis, D3 will estimate (based on the scale) the number of tick marks to include in the scale. But we can override this and specify an approximate number of ticks to be included</p>
<pre>
    <code>
    let xAxis = d3.axisBottom()
          .scale(xScale)
          .ticks(5);
    </code>
</pre>
<div id="example-eight"></div>
<script>
    {
        let w = 700,
            h = 300;

        let dataset = [
            {
                name: "Just fun",
                start_date: "2251",
                end_date: "2700"
            },
            {
                name: "Prohibition of singing and fun",
                start_date: "2240",
                end_date: "2251"
            },
            {
                name: "Singing and fun",
                start_date: "2100",
                end_date: "2250"
            },
            {
                name: "Everything sorted",
                start_date: "2037",
                end_date: "2100"
            },
            {
                name: "Climate solution initiative",
                start_date: "2035",
                end_date: "2037"
            },
            {
                name: "Climate collapse",
                start_date: "2030",
                end_date: "2035"
            },
            {
                name: "Postwar",
                start_date: "1945",
                end_date: "2020"
            },
            {
                name: "Second world war",
                start_date: "1939",
                end_date: "1945"
            },
            {
                name: "Interwar",
                start_date: "1918",
                end_date: "1939"
            },
            {
                name: "Early 20th Century",
                start_date: "1901",
                end_date: "1918"
            },
            {
                name: "Early modern",
                start_date: "1485",
                end_date: "1750"
            },
            {
                name: "Victorians",
                start_date: "1850",
                end_date: "1901"
            },
            {
                name: "Empire and Industry",
                start_date: "1750",
                end_date: "1850"
            },
            {
                name: "Medieval",
                start_date: "974",
                end_date: "1485"
            }
        ];

        // Sorting our data so that the earliest periods appear first
        dataset = dataset.sort(function (a, b) {
            if (+a.start_date < +b.start_date) {
                return -1;
            }
            if (+a.start_date > +b.start_date) {
                return 1;
            }
            return 0;
        });

        dataset = dataset.map(function (item) {
            return {
                name: item.name,
                start_date: d3.timeParse("%Y")(item.start_date),
                end_date: d3.timeParse("%Y")(item.end_date)
            }
        });

        xScale = d3.scaleTime()
            .domain([
                d3.min(dataset, function (d) {
                    return d.start_date;
                }),
                d3.max(dataset, function (d) {
                    return d.end_date;
                })
            ])
            .range([0, w * 0.75]);

        let svg = d3.select('#example-eight').append('svg').attr('width', w).attr('height', h);

        let padding = 20;

        let bar_height = ((h - padding) / dataset.length);

        svg.selectAll("rect")
            .data(dataset)
            .enter()
            .append("rect")
            .attr("y", (d, i) => i * (bar_height))
            .attr("x", d => xScale(d.start_date))
            .attr("width", d => xScale(d.end_date) - xScale(d.start_date))
            .attr("fill", "#80FFCB")
            .attr("height", (bar_height));

        svg.selectAll("text")
            .data(dataset)
            .enter()
            .append("text")
            .text(d => d.name)
            .attr("y", (d, i) => (i + 0.7) * (bar_height))
            .attr("x", d => xScale(d.start_date) + 4);

        let xAxis = d3.axisBottom(); // Create a new axis
        xAxis.scale(xScale);         // Set the scale of our axis (uses our scale)
        xAxis.ticks(5);
        svg.append("g")
            .attr("transform", "translate(0," + (h - padding) + ")")
            .call(xAxis);
    }
</script>

{% endblock %}