{% extends "page_layout.html" %}

{% block content %}

<h1>SVG basics - using origin</h1>
<p>No D3 here, again.</p>
<p>Notice how the group element has set a new origin for the second line</p>
<h2>The code</h2>
<pre>
    <code>
    &#x3C;svg width=&#x22;500&#x22; height=&#x22;300&#x22;&#x3E;
        &#x3C;g&#x3E;
            &#x3C;line x1=&#x22;100&#x22; y1=&#x22;100&#x22; x2=&#x22;300&#x22; y2=&#x22;100&#x22; stroke=&#x22;black&#x22;&#x3E;&#x3C;/line&#x3E;
            &#x3C;circle r=&#x22;3&#x22; cx=&#x22;300&#x22; cy=&#x22;100&#x22;&#x3E;&#x3C;/circle&#x3E;
            &#x3C;text x=&#x22;100&#x22; y=&#x22;90&#x22;&#x3E;Here&#x27;s a line&#x3C;/text&#x3E;
        &#x3C;/g&#x3E;
        &#x3C;g transform=&#x22;translate(100,100)&#x22;&#x3E;
            &#x3C;line x1=&#x22;100&#x22; y1=&#x22;100&#x22; x2=&#x22;300&#x22; y2=&#x22;100&#x22; stroke=&#x22;black&#x22;&#x3E;&#x3C;/line&#x3E;
            &#x3C;circle r=&#x22;3&#x22; cx=&#x22;300&#x22; cy=&#x22;100&#x22;&#x3E;&#x3C;/circle&#x3E;
            &#x3C;text x=&#x22;100&#x22; y=&#x22;90&#x22;&#x3E;Here&#x27;s another line&#x3C;/text&#x3E;
        &#x3C;/g&#x3E;
    &#x3C;/svg&#x3E;
    </code>
</pre>
<h2>The result</h2>
<svg width="500" height="300">
    <g>
        <line x1="100" y1="100" x2="300" y2="100" stroke="black"></line>
        <circle r="3" cx="300" cy="100"></circle>
        <text x="100" y="90">Here's a line</text>
    </g>
    <g transform="translate(100,100)">
        <line x1="100" y1="100" x2="300" y2="100" stroke="black"></line>
        <circle r="3" cx="300" cy="100"></circle>
        <text x="100" y="90">Here's another line</text>
    </g>
</svg>

{% endblock %}