{% extends "page_layout.html" %}

{% block content %}
<div class="grid-x grid-margin-x">
    <h1>Data visualisation with JavaScript and Web Standards</h1>
    <p>This is a companion application to <a href="https://docs.google.com/presentation/d/1H8UbPesAFGUxk4IuWzBh3QmIHK1oG55WdYIeGjZ7ezU/edit?usp=sharing">a Google Slides deck</a>. Use the navigation links to review material for each week. The code for this application can be found in the companion <a href="https://github.com/gtvj/data-visualisation-javascript-with-web-standards">GitHub repository</a>.</p>
</div>
{% endblock %}
