{% extends "layout.html" %}

{% block content %}
<div class="grid-x grid-margin-x">
    {% for page in pages %}
    <div class="cell small-6 medium-4 large-2">
        <a href="/pages{{ page.route }}">
            <div class="card">
                <div class="card-section">
                    <img src="/static/images/d3.png">
                    <p>{{ page.title }}</p>
                    {% for technology in page.technologies%}
                    <span class="badge secondary">{{ technology }}</span>
                    {% endfor %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
