<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "includes/head.html" %}
<body>
<div class="page-container">
    <div class="grid-container grid-margin-auto">
        <div class="grid-x">
            <div class="cell medium-4">
                {% include "includes/menu.html" %}
            </div>
            <div class="cell medium-8" style="padding: 2em">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>